<div class="p-5 text-center bg-image" style="
      background-image: url('assets/nguyen-dang-hoang-nhu-qDgTQOYk6B8-unsplash.jpg');
      height: 611px;
      width: 100%;
      margin-top: 0px;
    ">

    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center" style="height:300px;margin-top: 50px;">
            <div class="text-white">
                <h1 class="mb-3">Online Test Portal</h1>
                <h6 class="mb-3">an online test portal for assessment</h6>
                <a class="btn btn-outline-light btn-lg" href="/contact" role="button">Call For Support</a>
            </div>
        </div>
    </div>
</div>