<div class="p-5 text-center bg-image" style="
      background-image: url('assets/nguyen-dang-hoang-nhu-qDgTQOYk6B8-unsplash.jpg');
      height: 611px;
      width: 100%;
      margin-top: 0px;
    ">

    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center" style="height:100px;margin-top: 50px;">
            <div class="text-white">
                <h4 class="mb-3">Welcome {{Username}}</h4>
                <h6 class="mb-3">Choose An Online Test To Write</h6>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-3 col-sm-3" style=" height: 250px;" id="numericalDiv">
                <a routerLink="/numerical-reasoning" class="assessmentLink"> <img src="../../assets/volkan-olmez-aG-pvyMsbis-unsplash.jpg" style="height: 200px; width: 100%;"></a>
                <h6 style="color:cyan;">Numerical Reasoning Test</h6>
            </div>
            <div class="col-sm-3" style=" height: 250px;" id="CriticalDiv">
                <a routerLink="/CriticalThinking" class="assessmentLink"><img src="../../assets/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg" style="height: 200px; width: 100%;"></a>
                <h6 style="color:cyan;">Critical Thinking Test</h6>
            </div>
        </div>
    </div>
</div>