<div class="p-5 text-center bg-image" style="
      background-image: url('assets/nguyen-dang-hoang-nhu-qDgTQOYk6B8-unsplash.jpg');
      height: 611px;
      width: 100%;
      margin-top: 0px;
    ">

    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center" style="height:300px;margin-top: 50px;">
            <div class="text-white">
                <h3 class="mb-3">Numerical Reasoning Test</h3>
                <h6 class="mb-3">Answer All Questions. If you are ready to start the test please click start.</h6>
                <a routerLink="/NumericalTestStart" class="btn btn-outline-light btn-lg" href="#!" role="button">Start</a>
            </div>
        </div>
    </div>
</div>