<div class="p-5 text-center bg-image" style="
      background-image: url('assets/nguyen-dang-hoang-nhu-qDgTQOYk6B8-unsplash.jpg');
      height: 611px;
      width: 100%;
      margin-top: 0px;
    ">

    <div class="container">
        <div class="row">
            <div class="offset-sm-3 col-sm-6">
                <div class="card text-center">
                    <div class="card-header" style="color:#fff;font-weight: bold;">
                        <h4>Contact Us</h4>
                    </div>
                    <div class="card-body">
                        <form>

                            <div class="form-row" style="margin-top: 15px;">
                                <div class="offset-sm-1 col-sm-10">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-user" style="font-size: 1.5rem;"></i></div>
                                        </div>
                                        <input type="text" class="form-control" name="FullName" placeholder="Full Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin-top: 15px;">
                                <div class="offset-sm-1 col-sm-10">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-envelope" style="font-size: 1.5rem;"></i></div>
                                        </div>
                                        <input type="text" class="form-control" name="email" placeholder="Email" required>
                                    </div>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="offset-sm-1 col-sm-10">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-smile" style="font-size: 1.5rem;"></i></div>
                                        </div>
                                        <input type="text" class="form-control" name="message" placeholder="Your Message" required>
                                    </div>

                                </div>
                            </div>



                            <div class="form-row" style="margin-top: 8px;">
                                <div class="offset-sm-1 col-sm-10">
                                    <a class="buttonSubmit" type="submit">SUBMIT</a>>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>